body {
  background-color: #ffffff;
}

.page {
  font-family: "Inter", Arial, sans-serif;
  font-style: normal;
  font-size: 16px;
  line-height: 20px;
  min-width: 1100px;
  max-width: 1600px;
  margin: 0 auto;
  background-image: url("../images/background_header.svg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}

.noto-serif {
  font-family: "Noto Serif", "Times New Roman", serif;
}

.header {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 100vh;
  min-height: 720px;
  max-height: 800px;
  padding: 30px 80px 40px;
  position: relative;
  box-sizing: border-box;
  /*justify-content: space-between; /*prueba*/
}

.nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 30px;
}

.nav__logo {
  position: relative;
  margin: 30px 0 0 30px;
  width: 105px;
  height: 39px;
}

.nav__links {
  display: flex;
  column-gap: 20px;
  list-style-type: none;
  margin: 30px 80px 0 0;
  /*margin: 0;
  padding: 0;*/
}

.nav__link {
  color: #000000;
  text-decoration: none;
  font-size: 16px;
  line-height: 20px;
  font-weight: 500;
}

.header__title {
  font-size: 48px;
  font-weight: 500;
  font-size: 58px;
  line-height: 72px;
  letter-spacing: -1px;
  max-width: 709px;
  margin: 183px 0 28px 80px;
  /*white-space: pre-wrap;*/
  /*margin: 80px 0 28px; /*prueba*/
  /*padding-left: 80px;*/
}

.span-accent {
  /*color: #4682b4;*/
  color: #2f80ed;
  font-style: italic;
  font-weight: normal;
  font-size: 58px;
  line-height: 72px;
}

.header__content {
  /*Contiene la descripción y la imagen*/
  /*position: relative; /*chat*/
  /*background-color: pink;*/
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  /*align-items: center; */
  max-width: 1280px;
  /*margin: 0 auto;*/
}

.header__description {
  /*position: relative;*/
  font-weight: normal;
  font-size: 20px;
  line-height: 30px;
  padding-left: 80px; /*margin*/
  /*margin-left: 80px;*/
  max-width: 683px;
}

.header__image-container {
  position: absolute;
  top: 124px; /*224*/
  right: 0;
  width: 646px;
  height: 568px;
  /*margin: 124px 5px;*/
  /*margin: 0;*/
  max-width: 510px;
  /*margin-top: 124px;*/
  /*bottom: 300px;*/
  display: flex;
  /*margin-left: auto;*/
  align-items: flex-start;
  justify-content: flex-end;
  /*z-index: 0; /*chat*/
}

.header__image {
  width: 100%;
  height: auto;
  padding: 5px;
  /*object-fit: cover;*/
}

.header__footer {
  display: flex;
  font-weight: 500;
  font-size: 16px;
  line-height: 20px;
  color: #838383;
  justify-content: space-between;
  align-items: flex-end;
  margin-bottom: 40px;
  /*margin: 40px 80px;*/
  box-sizing: border-box;
  /*margin-top: auto;*/
  /*margin-left: 80px;*/
}

.timetable {
  /*display: flex;*/
  /*bottom: 20px;*/
  text-align: left;
  margin: 0;
  margin-left: 80px;
}

.header_adress {
  text-align: right;
  margin: 0;
}
/*.page-info {
  display: flex;
  font-weight: 500;
  font-size: 16px;
  line-height: 20px;
  color: #838383;
  justify-content: space-between;
  align-items: center;
  padding: 40px 80px;
  box-sizing: border-box;
  margin-top: auto;
  margin-left: 80px;
}

.page-info-hours p {
  text-align: left;
  margin: 0;
}

.page-info-text p {
  text-align: right;
  margin: 0;
}*/

/*Apartado de recetas*/

.recipes {
  background-color: #0a2750;
  background-image: url("../images/background_recipes.svg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  padding: 100px 0 140px;
  /*text-align: center;*/
}

.recipes__title h2 {
  font-size: 44px;
  font-weight: 500;
  line-height: 52px;
  color: #ffffff;
  margin-top: 100px;
  margin-bottom: 24px;
  max-width: 580px;
  margin-left: 80px;
  /*letter-spacing: -1;*/
  /*margin-right: auto;*/
}

.recipes__subtitle p {
  font-size: 20px;
  font-weight: normal;
  line-height: 30px;
  color: #ffffff;
  max-width: 438px;
  margin-left: 80px;
  margin-bottom: 80px;
  /*margin-right: auto;*/
}

.recipes__videos {
  display: flex;
  justify-content: center;
  gap: 40px;
  margin: 0 auto;
  margin-bottom: 215px;
  max-width: 960px;
}

.recipes__videos-item {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.recipes__videos-item iframe {
  width: 480px;
  height: 273px;
  border: none;
  margin-bottom: 24px;
}

.recipes__video-caption p {
  font-size: 20px;
  font-weight: 500;
  line-height: 30px;
  color: #ffffff;
}

.footer {
}
