@import url("../vendor/normalize.css");
@import url("../blocks/page.css");
@import url("../blocks/footer.css");
@import url("../blocks/form.css");
@import url("../blocks/header.css");
@import url("../blocks/nav.css");
@import url("../blocks/recipes.css");
@import url("../blocks/reservation.css");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: #ffffff;
}

.noto-serif {
  font-family: "Noto Serif", "Times New Roman", serif;
}

.span-accent {
  color: #2f80ed;
  font-style: italic;
  font-weight: normal;
  font-size: 58px;
  line-height: 72px;
}

.timetable {
  /*display: flex;*/
  /*bottom: 20px;*/
  text-align: left;
  margin: 0;
  margin-left: 80px;
}
